<div class="container">
  <center>
  <h1><span style="color:blue">Mega Man</span> vs <span style="color:red">Mario</span> </h1>
  <p>Welcome Players</p>

  <h2>1st Player</h2>
  <form action="/login" method="post">
  <input type="text" name="megaman"><br><br>
  <h2>2nd Player</h2><br>
  <input type="text" name="mario"><br><br>
  <input type="submit" value="Start Game!!">
  </form>

</center>
</div>
